<layout-sidebar-drawers
  #layout
  [primaryDrawerInitiallyOpen]="navigationDrawerIsInitiallyOpen"
>
  <div role="primary-drawer-content">
    <app-application-navigation></app-application-navigation>
  </div>
  <div role="secondary-drawer-content">Nothing to see here</div>

  <mat-toolbar>
    <button mat-button (click)="toggleNavigationDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="layout.secondaryDrawer.toggle()">
      Toggle secondary drawer
    </button>
    <button mat-button (click)="layout.toggle()">Toggle both drawers</button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</layout-sidebar-drawers>
