<ng-container>
  <button
    [matMenuTriggerFor]="notificationsMenu"
    mat-icon-button
    *ngIf="(notifications.undismissed$ | async)!.length"
  >
    <mat-icon
      [matBadge]="(notifications.undismissed$ | async)!.length"
      matBadgeColor="accent"
      >inbox</mat-icon
    >
  </button>
  <mat-menu #notificationsMenu style="width: 200px">
    <ng-container *ngFor="let item of notifications.undismissed$ | async">
      <div class="notification-list-item mat-menu-item">
        <div class="icon">
          <mat-icon>{{ notificationIcon(item.notification) }}</mat-icon>
        </div>
        <mat-label>
          {{ item.notification.message }}
        </mat-label>
        <div class="icon" (click)="notifications.dismiss(item)" matRipple>
          <mat-icon>clear</mat-icon>
        </div>
      </div>
    </ng-container>
    <mat-divider></mat-divider>
    <div
      class="notification-list-item mat-menu-item"
      (click)="notifications.dismissAll()"
      matRipple
    >
      <div class="icon">
        <mat-icon>delete</mat-icon>
      </div>
      <mat-label> Clear all </mat-label>
    </div>
  </mat-menu>
</ng-container>
