<ng-container [ngSwitch]="template">
  <ng-container *ngSwitchCase="'date'">
    <ng-container
      *ngIf="canEdit; else readonlyDate"
      style="display: flex; flex-direction: row"
    >
      <input
        style="background-color: transparent; color: inherit; border: none"
        #dateInput
        rel="editor"
        [matDatepicker]="datePicker"
        [value]="value"
        (dateChange)="handleDateChange($event.value)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </ng-container>
    <ng-template #readonlyDate>{{ value | date: "longDate" }}</ng-template>
  </ng-container>

  <ng-container *ngSwitchCase="'timestamp'">
    <mat-label>{{ value | date: "short" }}</mat-label>
  </ng-container>

  <ng-container *ngSwitchCase="'tinyint'">
    <mat-checkbox
      #chk
      [checked]="value"
      [disabled]="!canEdit"
      (change)="handleAnyBlur($event.checked)"
    ></mat-checkbox>
  </ng-container>

  <ng-container *ngSwitchCase="'enum'">
    <mat-select
      class="editor"
      style="width: 100px"
      #dropdown
      [value]="value"
      [disabled]="!canEdit"
      (selectionChange)="handleAnyBlur($event.value)"
    >
      <mat-option *ngFor="let opt of getEnumOptions()" [value]="opt">
        {{ opt }}
      </mat-option>
    </mat-select>
  </ng-container>

  <ng-container *ngSwitchCase="'set'">
    <div
      class="editor"
      style="display: flex; flex-direction: row; flex-wrap: nowrap"
      #dropdown
    >
      <button
        *ngFor="let opt of getSetOptions()"
        (click)="toggleSetItem(opt)"
        mat-stroked-button
      >
        <!-- [color]="isSelectedSetItem(opt) ? 'primary' : 'accent'" -->
        <mat-icon *ngIf="isSelectedSetItem(opt)">done</mat-icon>
        {{ opt }}
      </button>
    </div>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <div
      #div
      rel="editor"
      [contentEditable]="canEdit"
      (blur)="handleTextBlur(div.innerText)"
      [innerText]="value"
    ></div>
  </ng-container>
</ng-container>
