<table class="mat-elevation-z4" [class.editable]="editable">
  <thead *ngIf="showHeader">
    <tr #toolbar class="toolbar" [hidden]="!toolbarCell.hasChildNodes">
      <td #toolbarCell [attr.colspan]="numberOfRenderedColumns">
        <ng-content #toolbar></ng-content>
      </td>
    </tr>
    <tr>
      <th *ngIf="allowSelection">
        <mat-checkbox
          [indeterminate]="someSelected"
          [(ngModel)]="allSelected"
          (ngModelChange)="toggleAll()"
        ></mat-checkbox>
      </th>
      <th *ngFor="let field of fields">
        <div>{{ field }}</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let row of filteredRows;
        let rowIndex = index;
        trackBy: trackByKey
      "
    >
      <td *ngIf="allowSelection">
        <mat-checkbox
          [checked]="isSelected(row)"
          (change)="toggleSelected(row)"
        ></mat-checkbox>
      </td>
      <td *ngFor="let field of fields; let fieldIndex = index">
        <ng-container *ngIf="true">
          <grid-cell
            (keyup)="handleKeyUp($event, rowIndex, fieldIndex, field)"
            [editable]="editable"
            [schema]="columnSchema(field)"
            [value]="row[field]"
            (valueChange)="update(row, field, $event)"
          ></grid-cell>
        </ng-container>

        <div
          #div
          *ngIf="false"
          [title]="columnSchema(field)?.DATA_TYPE"
          [contentEditable]="editable"
          (focus)="focussed(div)"
          (blur)="update(row, field, div.innerText)"
          (keyup)="handleKeyUp($event, rowIndex, fieldIndex, field)"
          [innerText]="row[field]"
        ></div>
      </td>
    </tr>
  </tbody>
</table>
