<div class="navigation-items">
  <button
    mat-button
    class="navigation-item"
    *ngFor="let item of items"
    (click)="activate(item)"
  >
    <ng-container [ngSwitch]="iconType(item)">
      <ng-container *ngSwitchCase="'material'">
        <mat-icon>{{ item.icon }}</mat-icon>
      </ng-container>
      <ng-container *ngSwitchCase="'url'">
        <img src="{{ item.icon }}" />
      </ng-container>
      <span *ngSwitchDefault></span>
    </ng-container>
    <mat-label>{{ item.caption }}</mat-label>
  </button>
</div>
