<ng-container *ngIf="rows?.length; else error">
  <mat-card class="mat-elevation-z2">
    <mat-card-content>
      <mat-toolbar>
        <mat-form-field>
          <mat-select [(ngModel)]="table" (ngModelChange)="ngAfterViewInit()">
            <mat-option *ngFor="let t of tables" [value]="t">{{
              t
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <span style="flex: 1 1 auto"></span>
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" #filter placeholder="Filter" />
          <mat-icon (click)="filter.value = ''" matSuffix>clear</mat-icon>
        </mat-form-field>
      </mat-toolbar>

      <h1>{{ table }}</h1>

      <grid
        [data]="schema"
        [filterText]="filter.value"
        (rowEdited)="rowEdited($event)"
      ></grid>
      <grid
        [data]="rows"
        [columns]="schema"
        [filterText]="filter.value"
        (rowEdited)="rowEdited($event)"
      ></grid>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #error>
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <img
        src="/assets/images/icons/error.png"
        alt="error"
        matCardAvatar
        class="not-rounded"
      />
      <mat-card-title>Oops..</mat-card-title>
      <mat-card-subtitle
        >It appears there is a slight problem</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>It looks like we can't get any data from the backend.</p>
      <p>{{ message }}</p>
      <!-- <var-dump [value]="error" [maxDepth]="2"></var-dump> -->
    </mat-card-content>
  </mat-card>
</ng-template>
